<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../stylesheet/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../stylesheet/styles.css">>


    <title>Hello, world!</title>
</head>

<body>

    <div class="container">

        <h5 class="border-bottom">Headers</h5>

        <h1>Header h1</h1>
        <h2 class="text-secondary">Header h2 secondary</h2>
        <h3 class="text-dark">Header h3 dark</h3>
        <h4 class="text-medlight">Header h4 medlight</h4>
        <h5 class="text-light">Header h5 light</h5>
        <h6 class="text-warning">Header h6 warning</h6>

        <br>

        <h5 class="border-bottom">Paragraphs</h5>

        <p class="lead">Standard Paragraph</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur nisi vitae ipsum cursus, a
            bibendum ante scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
            turpis egestas. Etiam finibus, risus ac euismod elementum, massa turpis vehicula dui, in tincidunt lorem
            nisi at odio. Aliquam venenatis rutrum nisl vel convallis. Curabitur sagittis neque mi, nec vestibulum ante
            tristique at. Sed sed posuere massa. Duis commodo sem porta neque volutpat, eget ultrices metus porttitor.
            Sed sit amet porta leo. Fusce sit amet dolor quis urna accumsan gravida consequat ut risus. Sed maximus eu
            neque vitae consectetur. Quisque ut dictum leo. Nulla facilisi. In hac habitasse platea dictumst. Duis
            porttitor est in erat efficitur, id interdum nulla condimentum. Nulla vel lorem eu est eleifend interdum.
        </p>

        <p class="lead">Lead Paragraph</p>

        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur nisi vitae ipsum
            cursus, a bibendum ante scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Etiam finibus, risus ac euismod elementum, massa turpis vehicula dui, in tincidunt
            lorem nisi at odio. Aliquam venenatis rutrum nisl vel convallis. Curabitur sagittis neque mi, nec vestibulum
            ante tristique at. Sed sed posuere massa. Duis commodo sem porta neque volutpat, eget ultrices metus
            porttitor. Sed sit amet porta leo. Fusce sit amet dolor quis urna accumsan gravida consequat ut risus. Sed
            maximus eu neque vitae consectetur. Quisque ut dictum leo. Nulla facilisi. In hac habitasse platea dictumst.
            Duis porttitor est in erat efficitur, id interdum nulla condimentum. Nulla vel lorem eu est eleifend
            interdum.</p>

        <br><br>

        <h5 class="border-bottom">Buttons</h5>

        <p class="lead">Standard Buttons</p>

        <a href="#" class="btn btn-primary">Primary</a> &nbsp;
        <a href="#" class="btn btn-secondary">Secondary</a> &nbsp;
        <a href="#" class="btn btn-dark">Dark</a> &nbsp;
        <a href="#" class="btn btn-medlight">Medlight</a> &nbsp;
        <a href="#" class="btn btn-light">Light</a> &nbsp;
        <a href="#" class="btn btn-info">Info</a> &nbsp;
        <a href="#" class="btn btn-success">Success</a> &nbsp;
        <a href="#" class="btn btn-danger">Danger</a> &nbsp;
        <a href="#" class="btn btn-warning">Warning</a>

        <br><br>

        <p class="lead">Outline Buttons</p>

        <a href="#" class="btn btn-outline-primary">Primary</a> &nbsp;
        <a href="#" class="btn btn-outline-secondary">Secondary</a> &nbsp;
        <a href="#" class="btn btn-outline-dark">Dark</a> &nbsp;
        <a href="#" class="btn btn-outline-medlight">Medlight</a> &nbsp;
        <a href="#" class="btn btn-outline-light">Light</a> &nbsp;
        <a href="#" class="btn btn-outline-info">Info</a> &nbsp;
        <a href="#" class="btn btn-outline-success">Success</a> &nbsp;
        <a href="#" class="btn btn-outline-danger">Danger</a> &nbsp;
        <a href="#" class="btn btn-outline-warning">Warning</a>

        <br><br>

        <p class="lead">Small Standard Buttons</p>

        <a href="#" class="btn btn-primary btn-sm">Primary</a> &nbsp;
        <a href="#" class="btn btn-secondary btn-sm">Secondary</a> &nbsp;
        <a href="#" class="btn btn-dark btn-sm">Dark</a> &nbsp;
        <a href="#" class="btn btn-medlight btn-sm">Medlight</a> &nbsp;
        <a href="#" class="btn btn-light btn-sm">Light</a> &nbsp;
        <a href="#" class="btn btn-info btn-sm">Info</a> &nbsp;
        <a href="#" class="btn btn-success btn-sm">Success</a> &nbsp;
        <a href="#" class="btn btn-danger btn-sm">Danger</a> &nbsp;
        <a href="#" class="btn btn-warning btn-sm">Warning</a>

        <br><br>

        <p class="lead">Small Outline Buttons</p>

        <a href="#" class="btn btn-outline-primary btn-sm">Primary</a> &nbsp;
        <a href="#" class="btn btn-outline-secondary btn-sm">Secondary</a> &nbsp;
        <a href="#" class="btn btn-outline-dark btn-sm">Dark</a> &nbsp;
        <a href="#" class="btn btn-outline-medlight btn-sm">Medlight</a> &nbsp;
        <a href="#" class="btn btn-outline-light btn-sm">Light</a> &nbsp;
        <a href="#" class="btn btn-outline-info btn-sm">Info</a> &nbsp;
        <a href="#" class="btn btn-outline-success btn-sm">Success</a> &nbsp;
        <a href="#" class="btn btn-outline-danger btn-sm">Danger</a> &nbsp;
        <a href="#" class="btn btn-outline-warning btn-sm">Warning</a>

        <br><br>

        <p class="lead">Large Standard Buttons</p>

        <a href="#" class="btn btn-primary btn-lg">Primary</a> &nbsp;
        <a href="#" class="btn btn-secondary btn-lg">Secondary</a> &nbsp;
        <a href="#" class="btn btn-dark btn-lg">Dark</a> &nbsp;
        <a href="#" class="btn btn-medlight btn-lg">Medlight</a> &nbsp;
        <a href="#" class="btn btn-light btn-lg">Light</a> &nbsp;
        <a href="#" class="btn btn-info btn-lg">Info</a> &nbsp;
        <a href="#" class="btn btn-success btn-lg">Success</a> &nbsp;
        <a href="#" class="btn btn-danger btn-lg">Danger</a> &nbsp;
        <a href="#" class="btn btn-warning btn-lg">Warning</a>

        <br><br>

        <p class="lead">Large Outline Buttons</p>

        <a href="#" class="btn btn-outline-primary btn-lg">Primary</a> &nbsp;
        <a href="#" class="btn btn-outline-secondary btn-lg">Secondary</a> &nbsp;
        <a href="#" class="btn btn-outline-dark btn-lg">Dark</a> &nbsp;
        <a href="#" class="btn btn-outline-medlight btn-lg">Medlight</a> &nbsp;
        <a href="#" class="btn btn-outline-light btn-lg">Light</a> &nbsp;
        <a href="#" class="btn btn-outline-info btn-lg">Info</a> &nbsp;
        <a href="#" class="btn btn-outline-success btn-lg">Success</a> &nbsp;
        <a href="#" class="btn btn-outline-danger btn-lg">Danger</a> &nbsp;
        <a href="#" class="btn btn-outline-warning btn-lg">Warning</a>

        <br><br><br><br>

        <h5 class="border-bottom">Icons</h5>

        <p class="display-3 text-dark">
            <i class="fas fa-heart"></i> &nbsp;
            <i class="fas fa-poop"></i> &nbsp;
            <i class="fas fa-comments"></i> &nbsp;
            <i class="fas fa-grin-beam-sweat"></i> &nbsp;
            <i class="fas fa-grin-hearts"></i> &nbsp;
            <i class="fas fa-globe-africa"></i> &nbsp;
            <i class="fas fa-mountain"></i> &nbsp;
            <i class="fas fa-hiking"></i> &nbsp;
            <i class="fas fa-binoculars"></i> &nbsp;
            <i class="fas fa-eye"></i> &nbsp;
            <i class="fas fa-cloud"></i> &nbsp;
            <i class="fas fa-snowflake"></i> &nbsp;
            <i class="fas fa-helicopter"></i> &nbsp;
            <i class="fas fa-first-aid"></i> &nbsp;
            <i class="fas fa-skull-crossbones"></i> &nbsp;
            <i class="fas fa-flag-checkered"></i> &nbsp;
            <i class="fas fa-award"></i> &nbsp;
            <i class="fas fa-check-circle"></i> &nbsp;
            <i class="fas fa-trophy"></i> &nbsp;
            <i class="fas fa-hat-wizard"></i> &nbsp;
            <i class="fas fa-piggy-bank"></i> &nbsp;
        </p>
        <p class="display-3 text-secondary">
            <i class="fab fa-facebook-f"></i> &nbsp;
            <i class="fab fa-twitter"></i> &nbsp;
            <i class="fab fa-instagram"></i> &nbsp;
            <i class="fab fa-youtube"></i> &nbsp;
            <i class="fab fa-vimeo-v"></i> &nbsp;
            <i class="fab fa-spotify"></i> &nbsp;
        </p>

        <br><br>

        <h5 class="border-bottom">Forms</h5>

        <form action="#">
            <label>First name:</label>
            <input type="text" name="firstname" placeholder="First Name">

            <label>Last name:</label>
            <input type="text" name="lastname" placeholder="Last Name">

            <label>Example select: </label>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>

            <label>Example textarea</label>
            <textarea rows="3"></textarea>

            <input type="checkbox" value="" id="exampleCheckbox">
            <label for="exampleCheckbox">
                Example checkbox
            </label>

            <br>

            <input type="radio" name="exampleRadios" id="exampleRadios1" value="">
            <label for="exampleRadios1">
                Example radio
            </label>

            <br><br>

            <input type="submit" value="Submit" class="btn btn-primary">
        </form>

        <br><br>

        <h5 class="border-bottom">Lists</h5>

        <p class="lead">Simple list</p>

        <ul class="list">
            <li class="list-li">Example element 1</li>
            <li class="list-li">Example element 2</li>
            <li class="list-li">Example element 3</li>
            <li class="list-li">Example element 4</li>
            <li class="list-li">Example element 5</li>
        </ul>

        <br>

        <p class="lead">List of links</p>

        <ul class="list-links">
            <li class="link-li"><a href="#">Example link 1</a></li>
            <li class="link-li"><a href="#">Example link 2</a></li>
            <li class="link-li"><a href="#">Example link 3</a></li>
            <li class="link-li"><a href="#">Example link 4</a></li>
            <li class="link-li"><a href="#">Example link 5</a></li>
        </ul>

        <br>

        <p class="lead">Small list</p>

        <ul class="list-sm">
            <li class="list-li-sm">Example element 1</li>
            <li class="list-li-sm">Example element 2</li>
            <li class="list-li-sm">Example element 3</li>
            <li class="list-li-sm">Example element 4</li>
            <li class="list-li-sm">Example element 5</li>
        </ul>

        <br><br>

        <h5 class="border-bottom">Cards</h5>

        <div class="row justify-content-around">

            <div class="col-4">
                <div class="card">
                    <img class="card-img-top"
                        src="https://images.pexels.com/photos/303040/pexels-photo-303040.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p>Quisque ut dictum leo. Nulla facilisi. In hac habitasse platea dictumst. Duis porttitor est
                            in erat efficitur, id interdum nulla condimentum. Nulla vel lorem eu est eleifend interdum.
                        </p> <br>
                        <a href="#" class="btn btn-primary">Primary</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <img class="card-img-top"
                        src="https://images.pexels.com/photos/419293/pexels-photo-419293.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
                    <div class="card-body">
                        <p>Quisque ut dictum leo. Nulla facilisi. In hac habitasse platea dictumst. Duis porttitor est
                            in erat efficitur, id interdum nulla condimentum. Nulla vel lorem eu est eleifend interdum.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p>Quisque ut dictum leo. Nulla facilisi. In hac habitasse platea dictumst. Duis porttitor est
                            in erat efficitur, id interdum nulla condimentum. Nulla vel lorem eu est eleifend interdum.
                        </p> <br>
                        <a href="#" class="btn btn-primary">Primary</a>
                    </div>
                </div>
            </div>

        </div>


        <div class="row justify-content-around">

            <div class="col-4">
                <div class="card">
                    <div class="row align-items-center">
                        <div class="col-4 text-center">
                            <h1><i class="fas fa-hiking"></i></h1>
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p>This is a wider card with supporting text below as a natural lead-in to additional
                                    content. This content is a little bit longer.</p>
                                <p><small>Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card primary">
                    <div class="card-body">
                        <h5 class="card-title text-light">Card title</h5>
                        <p class="lead text-light">Subtitle for this card</p>
                        <p class="text-light">Quisque ut dictum leo. Nulla facilisi. In hac habitasse platea dictumst.
                            Duis porttitor est in erat efficitur, id interdum nulla condimentum. Nulla vel lorem eu est
                            eleifend interdum.</p> <br>
                        <a href="#" class="btn btn-outline-light">Primary</a>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-body text-secondary">
                        <br><br>
                        <p class="lead">Quisque ut dictum leo. Nulla facilisi. In hac habitasse platea dictumst. Duis
                            porttitor est in erat efficitur, id interdum nulla condimentum. Nulla vel lorem eu est
                            eleifend interdum.</p>
                    </div>
                </div>
            </div>

        </div>


    </div>

</body>

</html