<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-D/7uAka7uwterkSxa2LwZR7RJqH2X6jfmhkJ0vFPGUtPyBMF2WMq9S+f9Ik5jJu1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    
    <link rel="stylesheet" href="../stylesheet/styles.css">


    <title>Hello, world!</title>
</head>

<body>



    <div class="container col-6">
        <div class="card">
            <div class="card-bg-img"></div>
            <div class="card-content">
                <div class="card-title">
                    <h5>Card title: photo, titre, texte et bouton</h5>
                </div>
                <div class="card-text">
                    <p>Content..Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <div class="btn btn-outline-primary btn-sm">
                    Readmore
                </div>
            </div>
        </div>
    </div>
    </br></br>

    <div class="container col-6">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <h5>Card title: titre, texte et bouton</h5>
                </div>
                <div class="card-text">
                    <p>Content..Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <div class="btn btn-outline-primary btn-sm">
                    Readmore
                </div>
            </div>
        </div>
    </div>
    </br></br>

    <div class="container col-6">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <h6>Card title: titre, texte</h6>
                </div>
                <div class="card-text">
                    <p>Content..Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
    </br></br>

    <div class="container col-6">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <h6>Card title: titre, texte</h6>
                </div>
                <div class="card-text">
                    <p>Content..Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
    </br></br>


</body>

</html>