<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../stylesheet/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../stylesheet/styles.css">>


    <title>Hello, world!</title>
</head>

<body>



    <div class="container">
        <div class="card-deck">
            <div class="card col-4">
                <div class="card-bg-img"></div>
                <div class="card-content">
                    <div class="card-title">
                        <h5>Carte d'évènement</h5>
                    </div>
                    <div class="card-text">
                        <p>Content..Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                    </div>
                    <div class="btn btn-outline-primary btn-sm">
                        S'inscrire
                    </div>
                </div>
            </div>

            <div class="card col-4">
                <div class="card-content">
                    <div class="card-title">
                        <h5>Carte participants à l'évènement</h5>
                    </div>
                    <div class="card-text">
                        <p>Content..Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush text-right">
                        <li class="list-group-item">Jason</li>
                        <li class="list-group-item">Bobby la Pointe</li>
                        <li class="list-group-item">Mickey Mouse</li>
                        <li class="list-group-item">Michel Jonasz</li>
                    </ul>
                </div>
            </div>

            <div class="card col-4">
                <div class="card-body">
                <div class="card-content">
                    <div class="card-title">
                        <h6>Carte de ville</h6>
                    </div>
                    <div class="card-text">
                        <p>Content..Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                    </div>
                </div>
            </div>  
                    <div class="card-footer">
                        <div class="btn btn-outline-primary btn-sm">
                            Tous les évènements chauds
                        </div>
                    </div>

                
            </div>
        </div>
    </div>
    </br></br>

    <div class="container col-6">
        <div class="card">
            <div class="card-content">
                <div class="card-title">
                    <h6>Card title: titre, texte</h6>
                </div>
                <div class="card-text">
                    <p>Content..Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
    </br></br>



</body>

</html>