<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../stylesheet/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../stylesheet/styles.css">>


    <title>Hello, world!</title>
</head>

<body>

    <div class="container">
        <form>
            <div class="row form-signin justify-content-md-center">
                <h5>Please login</h5>
            </div></br>
            <div class="row justify-content-md-center">
                <div class="form-group col-4">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="form-group col-4">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
            </div>
                <div class="row justify-content-md-center">
                    <button type="submit" class="btn btn-primary col-2">Submit</button>
                </div>
        </form>
    </div>

    <div class="container">
            <form>
                <div class="row justify-content-md-center">
                    <h5>Sign in</h5>
                </div></br>
                <div class="row justify-content-md-center">
                    <div class="form-group col-4">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="form-group col-4">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="form-group col-4">
                        <label for="exampleInputPassword1">Confirm password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                </div>
                    <div class="row justify-content-md-center">
                        <button type="submit" class="btn btn-primary col-2">Submit</button>
                    </div>
            </form>
        </div>
    
        <div class="container">
                <form>
                    <div class="row justify-content-md-center">
                        <h5>Forgot your password ?</h5>
                    </div></br>
                    <div class="row justify-content-md-center">
                        <div class="form-group col-4">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Enter email">
                        </div>
                    </div>
                    <div class="row justify-content-md-center">
                            <button type="submit" class="btn btn-primary col-2">Submit</button>
                        </div>
                </form>
            </div>

</body>

</html>