<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-D/7uAka7uwterkSxa2LwZR7RJqH2X6jfmhkJ0vFPGUtPyBMF2WMq9S+f9Ik5jJu1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="../stylesheet/styles.css">


    <title>Hello, world!</title>
</head>

<body>

 <div class="container">
    <div class="">
        <header>
            <h3 class="text-center">Forms</h3>
        </header>
        <h3 class="h5">Default inputs</h3>
        <input type="text" placeholder="Write something">
        <input type="text" placeholder="Disabled" disabled="">
        <input class="error" type="text" placeholder="Error">

        <h3 class="h5">Password inputs</h3>
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Disabled" disabled="">
        <input class="error" type="password">

        <h3>Dropdown</h3>
        <label for="food">Food</label><br>
        <select id="food" name="food">
            <option value="vegan">Vegan</option>
            <option value="vegetarian">Vegetarian</option>
        </select>

        <h3>Text area </h3>
        <textarea type="text" rows="6" cols="6" placeholder="Write something">        </textarea>
        <h3>Radio buttons</h3>
        <label class="container">One
            <input type="radio" checked="checked" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">Two
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">Three
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">Four
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
    </div>
</div>

</body>